@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

 @keyframes blink {
          0%, 50% {
            opacity: 1;
          }
          51%, 100% {
            opacity: 0.3;
          }
        }
        
        @keyframes fastBlink {
          0%, 40% {
            opacity: 1;
          }
          41%, 100% {
            opacity: 0.1;
          }
        }
        
        .blink-slow {
          animation: blink 3s infinite;
        }
        
        .blink-fast {
          animation: fastBlink 1s infinite;
        }
        
        .blink-glow {
          animation: blink 2s infinite;
          filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
        }